.cabecalho {
    background: #228664;
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}

.container {
    width: 940px;
    margin: 0 auto;
    padding: 20px 0;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
}

.cabecalho-logoPicpro {
    display: inline-block;
    width: 100%;
    max-width: 200px;
}

.cabecalho-logoKenzie {
    display: inline-block;
    width: 100%;
    max-width: 200px;
    border-left: 1px solid rgba(255, 255, 255, 0.4);
    padding: 0 0 0 20px;
}

.secao-detalhesConta {
    background: #228664;
}

.container-detalhesConta {
    width: 940px;
    margin: 0 auto;
    padding: 20px 0;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
}

.secao-detalhesConta-usuario {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 2em 0;
    padding-bottom: 2em;
    border-bottom: 1px solid #000000;
}

.usuario {
    display: flex;
    align-items: center;
    color: white;
}

.usuario img {
    width: 100%;
    max-width: 60px;
    margin: 0 1em 0 0;
}

.usuario strong {
    margin: 5px 0;
    font-weight: bold;
    display: block;
}

.icones-presente-chat {
    display: flex;
}

.icones-presente {
    margin: 0 3em 0 0;
}

.icones-presente img {
    width: 100%;
    max-width: 30px;
}

.icones-chat img {
    width: 100%;
    max-width: 30px;
}

.secao-detalhesConta-sobreSaldo {
    display: flex;
    justify-content: space-between;
    margin: 0 0 2em;
    font-size: 18px;
}

.sobreSaldo-saldo {
    color: white;

}

.sobreSaldo-saldo div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0.5rem 0 0;
}

.sobreSaldo-saldo strong {
    font-weight: bold;
}

.sobreSaldo-saldo img {
    width: 100%;
    max-width: 40px;
}

.secao-detalhesConta-botao {
    border: none;
    border-radius: 10px;
    padding: 0 4em;
    font-weight: bold;
    font-size: 1em;
}

.secao-detalhesConta-opcoesTransacoes {
    display: flex;
    justify-content: space-between;
    margin: 0 0 1em;
}

.secao-detalhesConta-transacao:first-child {
    margin: 0 1.5em 0 0;
}

.secao-detalhesConta-transacao {
    background: #1F6F54;
    border-radius: 10px;
    padding: 1.5em 3em 3em 1em;
    color: white;
    font-weight: bold;
    width: 25%;
    margin: 0 1.5em;
}

.secao-detalhesConta-transacao:last-child {
    margin: 0 0 0 1.5em;
}

.secao-detalhesConta-transacao figure {
    margin: 0 0 1em;
}

.secao-detalhesConta-transacao figure img {
    width: 100%;
    max-width: 40px;
}

.secao-transacao {
    background: #228664;

}

.container-transacao {
    margin: 0 auto;
    padding: 20px 20px;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background: #FEFEFE;
    width: 100%;
}

.secao-transacao-selecao {
    text-align: center;
    margin: 0 0 3em;
}

.secao-transacao-selecao p {
    width: 100%;
    max-width: 940px;
    margin: 0 auto 1.5em;
    border: 1px solid #D2D2D2;
    border-radius: 10px;
    padding: 1em 0;
    box-shadow: 2px 2px 2px #D2D2D2;
    font-weight: bold;
}

.secao-transacao-selecao img {
    width: 100%;
    max-width: 940px;
}

.secao-transacao-qrCode {
    text-align: center;
    margin: 0 0 3em;
}

.secao-transacao-qrCode img {
    width: 100%;
    max-width: 220px;
    margin: 0 0 1em;
}

.secao-transacao-qrCode p {
    font-weight: bold;
    margin: 0 0 3em;
}

.secao-transacao-qrCode button {
    display: block;
    margin: 0 auto 2em;
    width: 50%;
    padding: 1em 0;
    border: none;
    border-radius: 10px;
    background: #228664;
    color: white;
    font-weight: bold;
    font-size: 20px;
}

.secao-transacao-qrCode a {
    font-weight: bold;
}

.secao-transacao-pix {
    width: 940px;
    margin: 0 auto 3em;

}

.secao-transacao-pix > img {
    width: 100%;
    max-width: 195px;
    margin: 0 0 2.5em;
}

.secao-transacao-boxOpcao {
    display: flex;
    align-items: center;
    margin: 0 0 2.5em;
    border: 1px solid #D2D2D2;
    border-radius: 10px;
    box-shadow: 2px 2px 2px #d2d2d2;
    padding: 1em 1em;
    width: 55%;
    line-height: 1.5em;
}

.secao-transacao-boxOpcao img {
    margin: 0 1em 0 0;
    width: 100%;
    max-width: 60px;
}

.secao-transacao-boleto {
    width: 940px;
    margin: 0 auto 3em;
    text-align: left;
}

.secao-transacao-boleto h2 {
    font-weight: bold;
    margin: 0 0 1em;
}

.secao-transacao-boleto p {
    width: 55%;
    line-height: 1.5em;
    display: inline-block;
    margin: 0 0 1em;
}

.secao-transacao-boleto input {
    display: block;
    width: 60%;
    padding: 1em 1em;
    font-weight: bold;
    font-size: 16px;
    background: #F2F2F2;
    border: 2px solid #D2D2D2;
    border-radius: 10px;
}

.secao-transacao-pagar {
    width: 940px;
    margin: 0 auto 3em;
}

.secao-transacao-pagar > img {
    width: 100%;
    max-width: 80px;
}

.secao-transacao-pagar h2 {
    margin: 0 0 2em;
    font-weight: bold;
    font-size: 20px;
}

.secao-transacao-pagar > p {
    margin: 0 0 2em;
}

.secao-transacao-pagar strong {
    display: block;
    font-weight: bold;
}

.rodape {
    width: 940px;
    margin: 0 auto 2em;
}

.container-rodape {
    width: 940px;
    margin: 0 auto;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
}

.rodape-lista-menu {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    text-align: center;
}

.rodape-lista-menu p {
    margin: 1em 0;
    color: #D2D2D2;
}

.rodape-item {
    text-decoration: none;
}

.rodape-item-pagar img {
    width: 100%;
    max-width: 110px;
}