.cabecalho {
    background: #228664;
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}

.container-cabecalho {
    width: 940px;
    margin: 0 auto;
    padding: 20px 0;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
}

.cabecalho-logoPicpro {
    display: inline-block;
}

.cabecalho-logoPicpro img {
    width: 100%;
    max-width: 200px;
}

.cabecalho-logoKenzie {
    display: inline-block;
    border-left: 1px solid rgba(255, 255, 255, 0.4);
    padding: 0 0 0 20px;
}

.cabecalho-logoKenzie img {
    width: 100%;
    max-width: 200px;
}

.secao-detalhesConta {
    background: #228664;
}

.container-detalhesConta {
    width: 940px;
    margin: 0 auto;
    padding: 20px 0;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
}

.secao-detalhesConta-usuario {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 2em 0;
    padding-bottom: 2em;
    border-bottom: 1px solid #000000;
}

.usuario {
    display: flex;
    align-items: center;
    color: white;
}

.usuario img {
    width: 100%;
    max-width: 60px;
    margin: 0 1em 0 0;
}

.usuario strong {
    margin: 5px 0;
    font-weight: bold;
    display: block;
}

.icones-presente-chat {
    display: flex;
}

.icones-presente {
    margin: 0 3em 0 0;
}

.icones-presente img {
    width: 100%;
    max-width: 30px;
    cursor: pointer;
    transition: 400ms;
}

.icones-presente img:hover {
    transform: scale(1.2);
}

.icones-chat img {
    width: 100%;
    max-width: 30px;
    cursor: pointer;
    transition: 400ms;
}

.icones-chat img:hover {
    transform: scale(1.2);
}

.secao-detalhesConta-sobreSaldo {
    display: flex;
    justify-content: space-between;
    margin: 0 0 2em;
    font-size: 18px;
}

.sobreSaldo-saldo {
    color: white;
}

.sobreSaldo-saldo div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0.5rem 0 0;
}

.sobreSaldo-saldo strong.hidden {
    visibility: hidden;
}

.sobreSaldo-saldo strong {
    font-weight: bold;
    visibility: visible;
}

.sobreSaldo-saldo img {
    width: 100%;
    max-width: 40px;
    cursor: pointer;
    transition: 400ms;
}

.sobreSaldo-saldo img:hover {
    transform: scale(1.2);
}

.secao-detalhesConta-botao {
    border: none;
    border-radius: 10px;
    padding: 0 4em;
    font-weight: bold;
    font-size: 1em;
    cursor: pointer;
    transition: 400ms;
}

.secao-detalhesConta-botao:hover {
    background-color: #D2D2D2;
    transform: scale(1.2);
}

.secao-detalhesConta-opcoesTransacoes {
    display: flex;
    justify-content: space-between;
    margin: 0 0 1em;
}

.secao-detalhesConta-transacao:first-child {
    margin: 0 1.5em 0 0;
}

.secao-detalhesConta-transacao {
    background: #1F6F54;
    border-radius: 10px;
    padding: 1.5em 3em 4.5em 1em;
    color: white;
    font-weight: bold;
    width: 25%;
    margin: 0 1.5em;
    transition: 400ms;
    cursor: pointer;
}

.secao-detalhesConta-transacao:hover {
    transform: scale(1.2);
}

.secao-detalhesConta-transacao:last-child {
    margin: 0 0 0 1.5em;
}

.secao-detalhesConta-transacao figure {
    margin: 0 0 1em;
}

.secao-detalhesConta-transacao figure img {
    width: 100%;
    max-width: 40px;
}

.secao-transacao {
    background: #228664;
    border-bottom: 10px solid #F2F2F2;
}

.container-transacao {
    margin: 0 auto;
    padding: 20px 20px;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background: #FEFEFE;
    width: 100%;
}

.secao-transacao-selecao {
    text-align: center;
    margin: 0 0 3em;
}

.secao-transacao-selecao.hidden {
    display: none;
}

.secao-transacao-selecao p {
    width: 100%;
    max-width: 940px;
    margin: 0 auto 1.5em;
    border: 1px solid #D2D2D2;
    border-radius: 10px;
    padding: 1em 0;
    box-shadow: 2px 2px 2px #D2D2D2;
    font-weight: bold;
}

.secao-transacao-selecao img {
    width: 100%;
    max-width: 940px;
}

.secao-transacao-qrCode {
    text-align: center;
    margin: 0 0 3em;
}

.secao-transacao-qrCode.hidden {
    display: none;
}

.secao-transacao-qrCode img {
    width: 100%;
    max-width: 220px;
    margin: 0 0 1em;
}

.secao-transacao-qrCode p {
    font-weight: bold;
    margin: 0 0 3em;
}

.secao-transacao-qrCode button {
    display: block;
    margin: 0 auto 2em;
    width: 50%;
    padding: 1em 0;
    border: none;
    border-radius: 10px;
    background: #228664;
    color: white;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
    transition: 400ms;
}

.secao-transacao-qrCode button:hover {
    transform: scale(1.2);
    color: yellowgreen;
}

.secao-transacao-qrCode a {
    font-weight: bold;
}

.secao-transacao-qrCode a:hover {
    color: yellowgreen;
}

.secao-transacao-pix {
    width: 940px;
    margin: 0 auto 3em;
    text-align: center;
}

.secao-transacao-pix.hidden {
    display: none;
}

.secao-transacao-pix > img {
    width: 100%;
    max-width: 195px;
    margin: 0 0 2.5em;
}

.secao-transacao-boxOpcao {
    display: flex;
    align-items: center;
    margin: 0 auto 2.5em;
    border: 1px solid #D2D2D2;
    border-radius: 10px;
    box-shadow: 2px 2px 2px #d2d2d2;
    padding: 1em 1em;
    width: 55%;
    line-height: 1.5em;
    transition: 400ms;
    cursor: pointer;
}

.secao-transacao-boxOpcao:hover {
    transform: scale(1.2);
}

.secao-transacao-boxOpcao img {
    margin: 0 1em 0 0;
    width: 100%;
    max-width: 60px;
}

.secao-transacao-boleto {
    width: 940px;
    margin: 0 auto 3em;
    text-align: center;
}

.secao-transacao-boleto.hidden {
    display: none;
}

.secao-transacao-boleto h2 {
    font-weight: bold;
    margin: 0 0 1em;
}

.secao-transacao-boleto p {
    width: 55%;
    line-height: 1.5em;
    display: inline-block;
    margin: 0 0 1em;
}

.secao-transacao-boleto input {
    display: block;
    width: 60%;
    margin: 0 auto;
    padding: 1em 1em;
    font-weight: bold;
    font-size: 16px;
    background: #F2F2F2;
    border: 2px solid #D2D2D2;
    border-radius: 10px;
}

.secao-transacao-pagar {
    width: 940px;
    margin: 0 auto 3em;
    text-align: center;
}

.secao-transacao-pagar.hidden {
    display: none;
}

.secao-transacao-pagar > img {
    width: 100%;
    max-width: 80px;
}

.secao-transacao-pagar h2 {
    margin: 0 0 2em;
    font-weight: bold;
    font-size: 20px;
}

.secao-transacao-pagar > p {
    margin: 0 0 2em;
}

.secao-transacao-pagar strong {
    display: block;
    font-weight: bold;
}

.rodape {
    width: 940px;
    margin: 0 auto;
    background: #FEFEFE;
}

.container-rodape {
    width: 940px;
    margin: 0 auto;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
}

.rodape-lista-menu {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    text-align: center;
    transform: translate(1em, -2em);
}

.rodape-lista-menu p {
    margin: 1em 0;
    color: #D2D2D2;
}

.rodape-item {
    transition: 400ms;
}

.rodape-item:hover {
    transform: scale(1.2);
}

.rodape-item a {
    text-decoration: none;
    display: block;
}

.rodape-item-pagar {
    transition: 400ms;
}

.rodape-item-pagar:hover {
    transform: scale(1.2);
}

.rodape-item-pagar img {
    width: 100%;
    max-width: 110px;
}

.rodape-item-pagar a {
    text-decoration: none;
    display: block;
}

@media screen and (max-width: 480px) {
    .container-cabecalho, .secao-detalhesConta, .container-detalhesConta, .secao-transacao-qrCode button, .secao-transacao-pix, .secao-transacao-boxOpcao, .secao-transacao-boleto, .secao-transacao-pagar, .rodape, .container-rodape {
        width: 100%;
    }

    .container-cabecalho {
        margin: 0 auto;
        text-align: center;
    }

    .cabecalho-logoPicpro {
        width: 100%;
        max-width: 7em;
    }

    .cabecalho-logoKenzie {
        width: 100%;
        max-width: 7em;
    }

    .container-detalhesConta {
        font-size: 16px;
    }

    .secao-detalhesConta-usuario {
        margin: 2em 1em;
    }

    .icones-presente {
        margin: 0 2em 0 0;
    }

    .secao-detalhesConta-sobreSaldo {
        margin: 0 1em 2em;
    }
    
    .secao-detalhesConta-opcoesTransacoes {
        margin: 0 1em;
        flex-direction: column;
        text-align: center;
    }
    
    /* Overwrite desktop config */
    .secao-detalhesConta-transacao:first-child {
        margin: 0 0 1em;
        padding: 2em 1em;
    }

    .secao-detalhesConta-transacao {
        margin: 0 0 1em;
        width: 100%;
        padding: 2em 1em;
    }

    /* Overwrite desktop config */
    .secao-detalhesConta-transacao:last-child {
        margin: 0 0 1em;
        padding: 2em 1em;
    }

    .rodape-lista-menu {
        display: block;
        transform: translateY(-2em);
    }

    .rodape-item-pagar {
        transform: translateY(-6em);
    }

    .rodape-item-pagar img {
        max-width: 90px;
    }

    .rodape-lista-menu li:first-child {
        display: inline-block;
        transform: translateY(7em);
    }

    .rodape-lista-menu li:nth-child(2) {
        display: inline-block;
        transform: translateY(7em);
        margin: 0 0 0 4em;
    }

    .rodape-lista-menu li:nth-child(4) {
        display: inline-block;
        transform: translate(-0.5em, -2em);
    }

    .rodape-lista-menu li:last-child {
        display: inline-block;
        transform: translate(-1em, -2em);
        margin: 0 0 0 4em;
    }


}